@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  

* {
  margin: 0;
  padding: 0;
    font-family: "Inter";
}

body {
  background-color: hsl(0, 0%, 8%);
  font-size: 25px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: hsl(0, 0%, 12%);
  height: 1300px;
  width: 750px;
  border-radius: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
}

main {
  display: block;
  padding: 70px;
  height: 1150px;
  width: 450px;
}

img {
  height: auto;
  width: 10vh;
  border-radius: 100%;
}
